@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);


body{
    background-color: #E5F0D6;
    font-family: cwTeXFangSong, serif;
    background-image: url("../tilebg2.jpg");
}

.navbar{
    background-color: #91b168 !important;
}

a {
    color:  rgb(65, 26, 26) !important;
}

.navbar-nav{
    display: flex;
    flex-direction: row;
}


.roll-dice-button{
    font-size: 20px;
  }
  
  #roll-button{
    background-color: #91b168;
    color: #eaeaea;
    font-size: 20px;
  }
  
  #dismiss-roll-button{
    background-color: #005b4f;
    color: #eaeaea;
    font-size: 20px;
  }
  
  .dice-rolling-container{
    margin: 0;
    padding: 0;
    vertical-align: baseline;
  }
  
  .roll-dice{
    align-items: center;
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    grid-template-rows: auto;
    justify-items: center;
    padding: 2rem;
    perspective: 1000px;
  }
  
  .die-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 6rem;
    list-style-type: none;
    transform-style: preserve-3d;
    width: 6rem;
    }
  
    .even-roll {
      transition: transform 1.5s ease-out;
    }
    .odd-roll {
      transition: transform 1.25s ease-out;
    }
    .die-item {
      background-color: #fefefe;
      box-shadow: inset -0.35rem 0.35rem 0.75rem rgba(0, 0, 0, 0.3),
        inset 0.5rem -0.25rem 0.5rem rgba(0, 0, 0, 0.15);
      display: grid;
      grid-column: 1;
      grid-row: 1;
      grid-template-areas:
        "one two three"
        "four five six"
        "seven eight nine";
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      height: 100%;
      padding: 2.2rem;
      width: 100%;
      /* border-radius: 40px; */
    }
  
    .dot {
      align-self: center;
      background-color: #676767;
      border-radius: 50%;
      box-shadow: inset -0.15rem 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
      display: block;
      height: 1.25rem;
      justify-self: center;
      width: 1.25rem;
    }
    .even-roll[data-roll="1"] {
      transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
    }
    .even-roll[data-roll="2"] {
      transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
    }
    .even-roll[data-roll="3"] {
      transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
    }
    .even-roll[data-roll="4"] {
      transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
    }
    .even-roll[data-roll="5"] {
      transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
    }
    .even-roll[data-roll="6"] {
      transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg);
    }
    .odd-roll[data-roll="1"] {
      transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
    }
    .odd-roll[data-roll="2"] {
      transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg);
    }
    .odd-roll[data-roll="3"] {
      transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
    }
    .odd-roll[data-roll="4"] {
      transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg);
    }
    .odd-roll[data-roll="5"] {
      transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
    }
    .odd-roll[data-roll="6"] {
      transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg);
    }
    [data-side="1"] {
      transform: rotate3d(0, 0, 0, 90deg) translateZ(4rem);
    }
    [data-side="2"] {
      transform: rotate3d(-1, 0, 0, 90deg) translateZ(4rem);
    }
    [data-side="3"] {
      transform: rotate3d(0, 1, 0, 90deg) translateZ(4rem);
    }
    [data-side="4"] {
      transform: rotate3d(0, -1, 0, 90deg) translateZ(4rem);
    }
    [data-side="5"] {
      transform: rotate3d(1, 0, 0, 90deg) translateZ(4rem);
    }
    [data-side="6"] {
      transform: rotate3d(1, 0, 0, 180deg) translateZ(4rem);
    }
    [data-side="1"] .dot:nth-of-type(1) {
      grid-area: five;
    }
    [data-side="2"] .dot:nth-of-type(1) {
      grid-area: one;
    }
    [data-side="2"] .dot:nth-of-type(2) {
      grid-area: nine;
    }
    [data-side="3"] .dot:nth-of-type(1) {
      grid-area: one;
    }
    [data-side="3"] .dot:nth-of-type(2) {
      grid-area: five;
    }
    [data-side="3"] .dot:nth-of-type(3) {
      grid-area: nine;
    }
    [data-side="4"] .dot:nth-of-type(1) {
      grid-area: one;
    }
    [data-side="4"] .dot:nth-of-type(2) {
      grid-area: three;
    }
    [data-side="4"] .dot:nth-of-type(3) {
      grid-area: seven;
    }
    [data-side="4"] .dot:nth-of-type(4) {
      grid-area: nine;
    }
    [data-side="5"] .dot:nth-of-type(1) {
      grid-area: one;
    }
    [data-side="5"] .dot:nth-of-type(2) {
      grid-area: three;
    }
    [data-side="5"] .dot:nth-of-type(3) {
      grid-area: five;
    }
    [data-side="5"] .dot:nth-of-type(4) {
      grid-area: seven;
    }
    [data-side="5"] .dot:nth-of-type(5) {
      grid-area: nine;
    }
    [data-side="6"] .dot:nth-of-type(1) {
      grid-area: one;
    }
    [data-side="6"] .dot:nth-of-type(2) {
      grid-area: three;
    }
    [data-side="6"] .dot:nth-of-type(3) {
      grid-area: four;
    }
    [data-side="6"] .dot:nth-of-type(4) {
      grid-area: six;
    }
    [data-side="6"] .dot:nth-of-type(5) {
      grid-area: seven;
    }
    [data-side="6"] .dot:nth-of-type(6) {
      grid-area: nine;
    }


    /* back button */
.circle{
  margin: 15px;
  border: solid 2px #91b168;
  border-radius: 50%;
  background-color: #91b168;
  display: inline-flex;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.back-btn{
  font-size: 20px;
  color:  rgb(65, 26, 26) !important;
}


/* the main part */

.or-container {
  align-items: center;
  color: #ccc;
  display: flex;
  margin: 25px 0
}

.line-separator {
  background-color: #ccc;
  flex-grow: 5;
  height: 1px
}

.or-label {
  flex-grow: 1;
  margin: 0 15px;
  text-align: center
}

.heading {
  font-size: 21px
}

#infoMessage p {
  color: red !important
}

.btn-google {
  color: #545454;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 1px #ddd
}

.m-b-20 {
  margin-bottom: 20px
}

.btn-md {
  padding: 10px 16px;
  font-size: 15px;
  line-height: 23px
}


.btn-primary {
  background-color: #C3ED8C !important;
  border-color: #C3ED8C !important;
  color: #411a1a;
  cursor: pointer;
  -webkit-transition: all ease-in .3s;
  transition: all ease-in .3s
}

.btn-primary:hover{
  color: #411a1a !important;

}

.btn {
  border-radius: 2px;
  text-transform: capitalize;
  font-size: 18px !important;
  padding: 10px 19px;
  cursor: pointer
}

.btn-md {
  padding: 10px 16px;
  font-size: 20px !important;
  line-height: 23px
}


.form-material .form-control {
  display: inline-block;
  height: 43px;
  width: 100%;
  border: none;
  border-radius: 0;
  font-size: 23px;
  font-weight: 400;
  padding: 9px;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #ccc
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
  box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: #fff
}

.card .card-block {
  padding: 1.25rem
}

.f-80 {
  font-size: 80px
}

.login-block {
  margin: 30px auto;
  min-height: 93.6vh
}

.login-block .auth-box {
  margin: 20px auto 0;
  max-width: 450px !important
}

#my-file-label{
  margin-left: -1px;
  margin-right: -1px;
  margin-bottom: 12px;
  font-size: 20px;
  color:rgb(65, 26, 26);
  background-color:#C3ED8C;
  padding: 10px 6px 10px 6px;
  font-weight: 600;
  display: block;
}

/* mobile responsiveness */
@media screen and (max-width: 480px){
  span.text {
    display:none
  }
}
