@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);

body{
  /* background-color: #cee9e9; */
  background-color: #E5F0D6;
  font-family: cwTeXFangSong, serif;
  background-image: url("./tilebg2.jpg");
}

button:hover {
  cursor: pointer;
}

a {
  color:  rgb(65, 26, 26) !important;
}


/* Navbar */
.navbar{
  background-color: #91b168 !important;
  /* background-color:#16A6AB !important; */

}


.navbar-nav{
  display: flex;
  flex-direction: row;

}


#login-link{
  font-size: 20px;
}

/* 擲骰 */

#exampleModalLongTitle{
  font-size: 28px;
}

.roll-dice-button{
  font-size: 20px;
}

#roll-button{
  background-color: #91b168;
  color: #eaeaea;
  font-size: 20px;
}

#dismiss-roll-button{
  background-color: #005b4f;
  color: #eaeaea;
  font-size: 20px;
}

.dice-rolling-container{
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.roll-dice{
  align-items: center;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-template-rows: auto;
  justify-items: center;
  padding: 2rem;
  perspective: 1000px;
}

.die-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 6rem;
  list-style-type: none;
  transform-style: preserve-3d;
  width: 6rem;
  }

  .even-roll {
    transition: transform 1.5s ease-out;
  }
  .odd-roll {
    transition: transform 1.25s ease-out;
  }
  .die-item {
    background-color: #fefefe;
    box-shadow: inset -0.35rem 0.35rem 0.75rem rgba(0, 0, 0, 0.3),
      inset 0.5rem -0.25rem 0.5rem rgba(0, 0, 0, 0.15);
    display: grid;
    grid-column: 1;
    grid-row: 1;
    grid-template-areas:
      "one two three"
      "four five six"
      "seven eight nine";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    padding: 2.2rem;
    width: 100%;
    /* border-radius: 40px; */
  }

  .dot {
    align-self: center;
    background-color: #676767;
    border-radius: 50%;
    box-shadow: inset -0.15rem 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
    display: block;
    height: 1.25rem;
    justify-self: center;
    width: 1.25rem;
  }
  .even-roll[data-roll="1"] {
    transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
  }
  .even-roll[data-roll="2"] {
    transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
  }
  .even-roll[data-roll="3"] {
    transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
  }
  .even-roll[data-roll="4"] {
    transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
  }
  .even-roll[data-roll="5"] {
    transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
  }
  .even-roll[data-roll="6"] {
    transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg);
  }
  .odd-roll[data-roll="1"] {
    transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
  }
  .odd-roll[data-roll="2"] {
    transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg);
  }
  .odd-roll[data-roll="3"] {
    transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
  }
  .odd-roll[data-roll="4"] {
    transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg);
  }
  .odd-roll[data-roll="5"] {
    transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
  }
  .odd-roll[data-roll="6"] {
    transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg);
  }
  [data-side="1"] {
    transform: rotate3d(0, 0, 0, 90deg) translateZ(4rem);
  }
  [data-side="2"] {
    transform: rotate3d(-1, 0, 0, 90deg) translateZ(4rem);
  }
  [data-side="3"] {
    transform: rotate3d(0, 1, 0, 90deg) translateZ(4rem);
  }
  [data-side="4"] {
    transform: rotate3d(0, -1, 0, 90deg) translateZ(4rem);
  }
  [data-side="5"] {
    transform: rotate3d(1, 0, 0, 90deg) translateZ(4rem);
  }
  [data-side="6"] {
    transform: rotate3d(1, 0, 0, 180deg) translateZ(4rem);
  }
  [data-side="1"] .dot:nth-of-type(1) {
    grid-area: five;
  }
  [data-side="2"] .dot:nth-of-type(1) {
    grid-area: one;
  }
  [data-side="2"] .dot:nth-of-type(2) {
    grid-area: nine;
  }
  [data-side="3"] .dot:nth-of-type(1) {
    grid-area: one;
  }
  [data-side="3"] .dot:nth-of-type(2) {
    grid-area: five;
  }
  [data-side="3"] .dot:nth-of-type(3) {
    grid-area: nine;
  }
  [data-side="4"] .dot:nth-of-type(1) {
    grid-area: one;
  }
  [data-side="4"] .dot:nth-of-type(2) {
    grid-area: three;
  }
  [data-side="4"] .dot:nth-of-type(3) {
    grid-area: seven;
  }
  [data-side="4"] .dot:nth-of-type(4) {
    grid-area: nine;
  }
  [data-side="5"] .dot:nth-of-type(1) {
    grid-area: one;
  }
  [data-side="5"] .dot:nth-of-type(2) {
    grid-area: three;
  }
  [data-side="5"] .dot:nth-of-type(3) {
    grid-area: five;
  }
  [data-side="5"] .dot:nth-of-type(4) {
    grid-area: seven;
  }
  [data-side="5"] .dot:nth-of-type(5) {
    grid-area: nine;
  }
  [data-side="6"] .dot:nth-of-type(1) {
    grid-area: one;
  }
  [data-side="6"] .dot:nth-of-type(2) {
    grid-area: three;
  }
  [data-side="6"] .dot:nth-of-type(3) {
    grid-area: four;
  }
  [data-side="6"] .dot:nth-of-type(4) {
    grid-area: six;
  }
  [data-side="6"] .dot:nth-of-type(5) {
    grid-area: seven;
  }
  [data-side="6"] .dot:nth-of-type(6) {
    grid-area: nine;
  }



  .fanso {
    color: #411a1a;
    font-size: 20px;
    padding: 2px 10px 2px 10px;
    background-color: #99BA6E;
    margin: 5px !important;
  }
  

/* 番數設定 */
#game-point-setting{
    display: flex;
    justify-content: center; 
    margin-bottom: 3%;   
}

#game-setting-button {
  margin-top: 20px; 
  color: rgb(65, 26, 26);
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  background-color: #99BA6E;
  /* background-color:#E34F5F ; */
}

/* .input-info-container{
  display: flex;
  justify-content: center;
} */

#please-input-info{
  font-weight: 500;
  text-align: center;
}

#error-message{
  font-size: 20px;
  text-align: center;
}

#farnso{
  display: flex;
  justify-content: center; 
  margin-top: 10px;
  margin-bottom: 10px;
}

.farnso-button-container{
  display: flex;
  justify-content: center;
}

.fanso {
  color: rgb(65, 26, 26);
  font-size: 20px;
  padding: 2px 10px 2px 10px;
  background-color: #99BA6E;
  margin: 5px !important;
}

.button-group-container{
  display: flex;
  justify-content: center;  
}

.money{
  color: rgb(65, 26, 26);
  background-color: #91b168 !important;
  padding: 5px 10px 5px 10px;
  font-size: 18px;
}

  /* table setting */
  table {
    border-collapse: separate;
    border-spacing: 80px 10px;
  }
  
  table th {
    font-size: 20px;
  }

  table td {
    font-size: 20px;
    text-align: center;
  }

  #reset-farnso-button{
    color: #eaeaea;
    background-color: #686E62;
    font-size: 18px;
  }

  #submit-farnso-button{
    background-color:  #C3ED8C;
    font-size: 18px;
    color: #411a1a;
  }

  #choose-money{
    margin-left: 5px;
  }



/* 設定玩家名稱 */

.input-players{
  width: 200px;
  height: 200px;
  /* background-color: #25B3B4 !important; */
  background-color: #485834!important;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 5px #cdeba4;
}

input {
  text-align: center;
  font-size: 20px;
}

.container-1{
  display: flex;
  justify-content: center;
}

.two-and-three{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width:100%;
}

.container-4{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

/* .col-md-4{
  display: flex;
  justify-content: center;
  align-items: center;
} */

  

  /* 開枱掣 */

  .open-table-container{
    display: flex;
    align-items: center;
  }
  
  .open-table-button{
    /* background-color: #F6B82F; */
    background-color: #91b168;
    font-weight: 600;
    font-size: 22px;
    color: rgb(65, 26, 26);
  }



  #md-link{
    color: #CCD7B0!important;
  }

  /* footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
} */

  .page-footer{
    background: -moz-linear-gradient(top, #91B168 0%, #BEE094 100%);
    background: -webkit-linear-gradient(top, #91B168 0%, #BEE094 100%);
    background: linear-gradient(to bottom, #91B168 0%, #BEE094 100%);  
    /* position: sticky;
    bottom:0; */

  }

  .copyright-picture{
    font-size: 12px;
    text-align: center;
  }

  .view{
    border-radius: 15px 50px
  }

  .img-fluid{
    border-radius: 15px 50px
  }

  @media (min-width: 900px) {
    .dice {
      perspective: 1300px;
    }
  }



  /* nav profile */
  .login{
    display: flex;
  }
  .profile{
    margin: 0 !important;
    display: flex;
    align-items: center !important;
    padding: 0 !important;
  }

  .profile-name{
    color: #411a1a;
    font-size: 1.05rem;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .profile-image{
    width: 35px;
  }
  .profile-image img{
    width: 100%;
  }
  
  .record, .grid-flex{
    display: flex;
  }
  .record p {
    margin: 0 5px;
  }
  .dropdown-menu{
    margin-left: 180px;
  }
  .trash{
    margin: 2px 0 0 5px;
    width: 30px !important;
  }
  .trash i{
    font-size: 1.1rem;
    color: #411a1a;
    cursor: pointer;
  }
  .scroll-box{
    overflow:auto;
    width: 310px;
    height: 170px;
  }
  .record-grid{
    width: initial !important;
  }

  img.john-cena{
    display: none;
  }
  .fanso-num{
    width: 55px;
  }


  @media screen and (max-width: 480px){
    span.text {
      display:none
    }
    
    img.john-cena{
      display:block;
      height: 40px;
    }

    #game-setting-button {
      margin-top: 50px;
    }

    .players-text-input{
      font-size:15px;
    }
    .input-players-containers{
      width: 400px;
    }
    .input-players{
      width:120px;
      height: 120px;
      margin: 5px;
      font-size: 15px;

    } 
    table {
      border-collapse: separate;
      border-spacing: 5px 5px;
    }
  
    .dropdown-menu{
      margin-left: 55px !important;
    }
    table th {
      font-size: 20px;
      padding: 25px;
      text-align: center;
    }
  .navbar-collapse{
    display: flex;
    flex-wrap: wrap;
  }
    
    table td {
      font-size: 20px;
      text-align: center;
      padding: 5 35px
    }

    .modal-content{
      margin:5px
    }

    .modal{
      width: 100%;
      height: 98%;
      text-align: center;
    }

    .money{
      width: 80px;

    }
    .row{
      display:none    
    }
    .container-4{
      margin-bottom: 100px;
    }

    .container-1{
      margin-top: 50px;
    }

    .footer-copyright{
    font-size: 10px;

  }
    
  }