@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);

#cancel-record{
  font-weight: 600;
  color: red;
}

#back-body{
  font-size: 20px;
}

.negative{
  color: lightcoral;
  font-weight: bold;
}

.positive{
  color: greenyellow;
}

.whole-eat-form{
  margin-bottom: 20px;
}
.score-box{
    display: flex;
    justify-content: center;
}
.btn-point{
    margin-bottom: 10px;
    margin-right: 5px;
}
.boxMini{
    flex: 1;
    font-size: 20px;
}
.boxTitle{
    font-size: 20px;
    margin-bottom: 15px;
}

#game-point-setting{
    display: flex;
    justify-content: center; 
    margin-bottom: 3%;   
}

body{
  background-color: #E5F0D6;
  font-family: cwTeXFangSong, serif;
  background-image: url("./tilebg2.jpg");

}

a {
  color:  rgb(65, 26, 26) !important;
}

#farnso{
  display: flex;
  justify-content: center; 
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-players{
  color: #eaeaea;
  width: 200px;
  height: 200px;
  background-color: #686E62;
  border-radius: 20px;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
}

.player-name-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.player1-direction-container{
  text-align: center;
  font-size: 40px;
}

.player2-direction-container{
  text-align: center;
  font-size: 40px;
}

.player3-direction-container{
  text-align: center;
  font-size: 40px;
}
.player4-direction-container{
  text-align: center;
  font-size: 40px;
}
.span-player-name{
  font-size: 26px;
}

.player-score-container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}

.player-direction-container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}

.open-table-container{
  display: flex;
  align-items: center;
}

.container-1{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.eat-button-container{
  display: flex;
  justify-content: center;
}

/* #eat1{
  padding: 5px;
  background-color: rgb(65, 26, 26);
} */

.two-and-three{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container-4{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.boxTitle{
  font-size: 24px;
}

#ai-title{
  font-size: 26px;
  margin-left: 15px;
}

.ai-introduction{
  display: flex;
  justify-content: center;
}

.ai-introduction-content{
  font-size: 20px;
}

#caution-title{
  font-size: 24px;
  color: red;
}

.caution-red{
  color: red;
}

.ai-buttons{
  display: flex;
  justify-content: center;
}

.ai-tut-button{
  color: rgb(65, 26, 26);
  background-color: #91b168;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 6px 10px 6px;
  font-size: 20px;
  font-weight: 600;
}

label {
  color: rgb(65, 26, 26);
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 20px;
  background-color:#91b168;
  align-self: center;
  padding: 10px 6px 10px 6px;
  font-weight: 600;
  /* Style as you please, it will become the visible UI component. */
}

#myFile{
  opacity: 0;
  position: absolute;
  z-index: -1;
}

#my-file-label{
  margin-left: -1px;
  margin-bottom: 12px;
  font-size: 20px;
  color:rgb(65, 26, 26);
  background-color:#91b168;
  padding: 10px 6px 10px 6px;
  font-weight: 600;
}

.modal-footer {
  border-top: 0 none;
}

.big-container{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.submit-container{
  margin-top: 13px;
  margin-right: 10px;
  display: block;
}

#submit-form{
  margin-bottom: 12px;
  font-size: 20px;
  color:rgb(65, 26, 26);
  background-color:#91b168;
  padding: 10px 6px 10px 6px;
}

#output-image{
  max-width:100%;
  max-height: 100vh;
}

.ai-photo-container{
  display: flex;
  flex-direction: row;
  visibility: hidden;
}

.tutorial-body{
  font-size: 24px;
}

#spinner-container{
  display: flex;
  justify-content: center;
}

.spinner-border{
  display: none;
  margin-bottom: 30px;
}

.tutorial-img-container{
  display: flex;
  justify-content: center;
}

#eat-common-picture , #scattered-picture, #four-tiles-picture, #flower-picture, #avoid-picture{
  width: 100%;
}

.first-image{
  margin-bottom: 10px;
}

#close-inner-modal{
  font-size: 20px;
  background-color: #A6C977;
}

#submit-photo-form{
  margin-bottom: 12px;
  font-size: 20px;
  color:rgb(65, 26, 26);
  background-color:#91b168;
  padding: 10px 6px 10px 6px;
  font-weight: 600;
}

.ai-text-container{
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.confirm-right-container{
  display: flex;
  justify-content: center;
}

#analysis-text{
  margin-bottom: 10px;
  display: none;
}

#amendment-text{
  font-size: 20px;
  margin-bottom: 10px;
  display: none;
}

.small-container{
  display: flex;
  /* flex-direction: row; */
}

#right-result{
  padding: 5px 10px 5px;
  margin-left: -2px;
  display: none;
  background-color: #91b168;
  font-size: 22px;
  color: rgb(65, 26, 26);
}

.ai-result, .ai-result-type{
  font-weight: 600;
  font-size: 26px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
}
.fanso-flex-container{
  display: flex !important;
}
.ai-result-type{
  margin-left: 20px;
}

#reset-fanso-button{
  color: #eaeaea;
  background-color: #686E62;
  font-size: 18px;
}

#submit-fanso-button{
  background-color:  #C3ED8C;
  font-size: 18px;
  color: rgb(65, 26, 26);
}

/* .col-md-4{
  display: flex;
  justify-content: center;
  align-items: center;
} */

.round-container{
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top: 20px; 
}

.navbar{
  background-color: #91b168 !important;
}

.navbar-nav{
  display: flex;
  flex-direction: row;
}

#login-link{
  font-size: 20px;
}

.roll-dice-button{
  font-size: 20px;
}

button:hover {
  cursor: pointer;
}

#roll-button{
  background-color: #91b168;
  color: #eaeaea;
  font-size: 20px;
}

#dismiss-roll-button{
  background-color: #005b4f;
  color: #eaeaea;
  font-size: 20px;
}

.dice-rolling-container{
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.roll-dice{
  align-items: center;
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-template-rows: auto;
  justify-items: center;
  padding: 2rem;
  perspective: 1000px;
}

.die-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 6rem;
  list-style-type: none;
  transform-style: preserve-3d;
  width: 6rem;
  }

  .even-roll {
    transition: transform 1.5s ease-out;
  }
  .odd-roll {
    transition: transform 1.25s ease-out;
  }
  .die-item {
    background-color: #fefefe;
    box-shadow: inset -0.35rem 0.35rem 0.75rem rgba(0, 0, 0, 0.3),
      inset 0.5rem -0.25rem 0.5rem rgba(0, 0, 0, 0.15);
    display: grid;
    grid-column: 1;
    grid-row: 1;
    grid-template-areas:
      "one two three"
      "four five six"
      "seven eight nine";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    padding: 2.2rem;
    width: 100%;
    /* border-radius: 40px; */
  }

  .dot {
    align-self: center;
    background-color: #676767;
    border-radius: 50%;
    box-shadow: inset -0.15rem 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
    display: block;
    height: 1.25rem;
    justify-self: center;
    width: 1.25rem;
  }
  .even-roll[data-roll="1"] {
    transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
  }
  .even-roll[data-roll="2"] {
    transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
  }
  .even-roll[data-roll="3"] {
    transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
  }
  .even-roll[data-roll="4"] {
    transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
  }
  .even-roll[data-roll="5"] {
    transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
  }
  .even-roll[data-roll="6"] {
    transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg);
  }
  .odd-roll[data-roll="1"] {
    transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
  }
  .odd-roll[data-roll="2"] {
    transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg);
  }
  .odd-roll[data-roll="3"] {
    transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
  }
  .odd-roll[data-roll="4"] {
    transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg);
  }
  .odd-roll[data-roll="5"] {
    transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
  }
  .odd-roll[data-roll="6"] {
    transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg);
  }
  [data-side="1"] {
    transform: rotate3d(0, 0, 0, 90deg) translateZ(4rem);
  }
  [data-side="2"] {
    transform: rotate3d(-1, 0, 0, 90deg) translateZ(4rem);
  }
  [data-side="3"] {
    transform: rotate3d(0, 1, 0, 90deg) translateZ(4rem);
  }
  [data-side="4"] {
    transform: rotate3d(0, -1, 0, 90deg) translateZ(4rem);
  }
  [data-side="5"] {
    transform: rotate3d(1, 0, 0, 90deg) translateZ(4rem);
  }
  [data-side="6"] {
    transform: rotate3d(1, 0, 0, 180deg) translateZ(4rem);
  }
  [data-side="1"] .dot:nth-of-type(1) {
    grid-area: five;
  }
  [data-side="2"] .dot:nth-of-type(1) {
    grid-area: one;
  }
  [data-side="2"] .dot:nth-of-type(2) {
    grid-area: nine;
  }
  [data-side="3"] .dot:nth-of-type(1) {
    grid-area: one;
  }
  [data-side="3"] .dot:nth-of-type(2) {
    grid-area: five;
  }
  [data-side="3"] .dot:nth-of-type(3) {
    grid-area: nine;
  }
  [data-side="4"] .dot:nth-of-type(1) {
    grid-area: one;
  }
  [data-side="4"] .dot:nth-of-type(2) {
    grid-area: three;
  }
  [data-side="4"] .dot:nth-of-type(3) {
    grid-area: seven;
  }
  [data-side="4"] .dot:nth-of-type(4) {
    grid-area: nine;
  }
  [data-side="5"] .dot:nth-of-type(1) {
    grid-area: one;
  }
  [data-side="5"] .dot:nth-of-type(2) {
    grid-area: three;
  }
  [data-side="5"] .dot:nth-of-type(3) {
    grid-area: five;
  }
  [data-side="5"] .dot:nth-of-type(4) {
    grid-area: seven;
  }
  [data-side="5"] .dot:nth-of-type(5) {
    grid-area: nine;
  }
  [data-side="6"] .dot:nth-of-type(1) {
    grid-area: one;
  }
  [data-side="6"] .dot:nth-of-type(2) {
    grid-area: three;
  }
  [data-side="6"] .dot:nth-of-type(3) {
    grid-area: four;
  }
  [data-side="6"] .dot:nth-of-type(4) {
    grid-area: six;
  }
  [data-side="6"] .dot:nth-of-type(5) {
    grid-area: seven;
  }
  [data-side="6"] .dot:nth-of-type(6) {
    grid-area: nine;
  }
  
  .badge {
    color: #eaeaea;
    font-weight: 400;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    background-color: rgb(65, 26, 26) !important;
  }

  button:hover {
    cursor: pointer;
  }

  #eaten{
    font-size: 28px;
  }

  .farnso-button-container{
    display: flex;
    justify-content: center;
  }


  .fanso {
    color: #eaeaea;
    font-size: 20px;
    padding: 2px 10px 2px 10px;
    background-color: #99BA6E;
    margin: 5px !important;
  }
  
  .button-group-container{
    display: flex;
    justify-content: center;  
  }

  .money{
    background-color: #91b168 !important;
    padding: 5px 10px 5px 10px;
    font-size: 18px;
  }


  /* table setting */
  table {
    border-collapse: separate;
    border-spacing: 10px 10px;
  }
  
  table th {
    font-size: 20px;
    text-align: center;
  }

  
  table td {
    font-size: 20px;
    text-align: center;
    padding: 20px
  }

  #close-record-btn {
    color: #eaeaea;
    background-color: #686E62 !important;
    font-size: 18px;
  }

  #choose-money{
    margin-left: 5px;
  }

  .page-footer{
    background: -moz-linear-gradient(top, #91B168 0%, #BEE094 100%);
    background: -webkit-linear-gradient(top, #91B168 0%, #BEE094 100%);
    background: linear-gradient(to bottom, #91B168 0%, #BEE094 100%);   
  }

  .copyright-picture{
    font-size: 12px;
    text-align: center;
  }

  #md-link{
    color: #CCD7B0!important;
  }

  .view{
    border-radius: 15px 50px
  }

  .img-fluid{
    border-radius: 15px 50px
  }

  @media (min-width: 900px) {
    .dice {
      perspective: 1300px;
    }
  }






  /* the tile showing css part */
  #callback{
    display: flex;
}
#callback div {
    width: 50px;
}
#callback img {
    width: 100%;
}
.hidden {
display: none;
z-index: 2050 !important;
width: 100%;
height: 1200px;
top: 0px;
position: absolute;
background-color: rgba(22, 22, 22, 0.5); /* complimenting your modal colors */
transition: ease-in-out all 0.5s;
}
.white-background {
display: flex;
flex-wrap: wrap;
margin: 50px auto;
background-color: white;
padding: 25px;
max-width: 500px;
height: 600px;
}
.white-background div {
    width: 60px;
}
.white-background div img{
    width: 100%;
}
.hidden:target {
visibility: visible;
display: block;
}
.show-div {
display: initial;
animation: fadeInFromNone 0.5s ease-out;
}
        @keyframes fadeInFromNone {
0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: initial;
    opacity: 0;
  }

  100% {
    display: initial;
    opacity: 1;
  }
}
.tile-image, .option-tile{
    cursor: pointer;
}

@media screen and (max-width: 480px){
  .input-players{
    width: 150px;
    height: 150px;
    margin: 5px;
  } 
  table {
    border-collapse: separate;
    border-spacing: 5px 5px;
  }

  table th {
    font-size: 15px;
    text-align: center;
  }

  
  table td {
    font-size: 15px;
    text-align: center;
    padding: 15px
  }

  .navbar-collapse {
    display: flex;
    flex-wrap: wrap;
  }
  span.text {
    display:none
  }
  .dropdown-menu{
    margin-left: 55px !important;
  }

}






  /* nav profile */
  .login{
    display: flex;
  }
  .profile{
    margin: 0 !important;
    display: flex;
    align-items: center !important;
    padding: 0 !important;
  }

  .profile-name{
    color: #411a1a;
    font-size: 1.05rem;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .profile-image{
    width: 35px;
  }
  .profile-image img{
    width: 100%;
  }
  
  .record, .grid-flex{
    display: flex;
  }
  .record p {
    margin: 0 5px;
  }
  .dropdown-menu{
    margin-left: 180px;
  }
  .trash{
    margin: 2px 0 0 5px;
    width: 30px !important;
  }
  .trash i{
    font-size: 1.1rem;
    color: #411a1a;
    cursor: pointer;
  }
  .scroll-box{
    overflow:auto;
    width: 310px;
    height: 170px;
  }
  .record-grid{
    width: initial !important;
  }
  .fanso-num{
    width: 55px;
  }
  .adjustment{
    padding: 17.2px 6px 12px 6px !important;
  }

